.list-index-cont {
    width: 450px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    right: 50%;
    bottom: 50%;

}

.list-index-header {
    margin-top: 40px;
    /* margin-bottom: 15%; */
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}

#listo-logo {
    width: 150px;
}

.greeting {
    border-left: solid rgb(163, 163, 163) 2px;
    padding: 0px 20px 0px 13px;
}

.hello {
    color: grey;
    font-size: 24px;
}

#username {
    color: rgb(47, 99, 255);
    font-size: 31px;
    font-weight: 700;
}
 .list-type-btn {
    background-color: rgb(47, 99, 255);
    border: none;
    border-radius: 100%;
    padding: 10px;
    width: 120px;
    height: 120px;
 }

#shopping-list-icon {
    width: 80px;
}

#checklist-icon {
    width: 60px;
}

.list-type-cont {
    /* padding: 32px; */
    margin: 40px 0px;
}

.icon-cont {
    width: 40%;
    display: flex;
    justify-content: center;
}

.list-type-title-cont {
    color: rgb(47, 99, 255);
    /* text-decoration: underline; */
    width: 40%;
}
