.nav-cont {
    position: fixed;
    bottom: 0px;
}

.nav {
    background-color: rgb(47, 99, 255);
    height: 60px;
    box-shadow: 0px 2px 8px grey;
    color: white;
    position: relative;
    /* position: fixed; */
    z-index: 5;
    padding-right: 25px;
}

#logo {
    width: 100px;
    margin-left: 25px;
}

.nav-item {
    margin-bottom: 0px;
    margin-left: 20px;
}

.link {
    color: white;
    text-decoration: none;
}