.checklist-wrapper {
    margin-bottom: 30px;
    position: relative;
    /* top: 140px; */
}
.todo-cont {
    padding: 20px;
    margin: 15px 0px;
}

.todo-and-check {
    width: 50%;
}

.checkbox-cont {
    display: flex;
    align-items: center;
}

.checkbox {
    cursor: pointer;
    border: 0px none;
    background-color: red;
    width: 30px;
    height: 30px;
}

input[type="checkbox"]::before {
    background-color: red;
}

.task-cont {
    width: 80%;
    font-size: 20px;
}

.todo-details-cont {
    width: 40%;
    align-items: center;
}

.checked {
    background-color: rgb(244, 244, 244);
    font-style: italic;
    color: rgb(170, 170, 170);
    text-decoration: line-through;
}

.checked-task-icon {
    opacity: .5;
    filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

.task-notes-cont {
    position: relative;
    background-color: rgb(236, 236, 236);
    width: 100%;
    padding: 20px;
    color: rgb(98, 98, 98);
    font-style: italic;
    animation-name: notesSlideIn;
    animation-duration: .5s;
}

.checked-task-notes-cont {
    position: relative;
    background-color: rgb(247, 247, 247);
    width: 100%;
    padding: 20px;
    color: rgb(203, 203, 203);
    font-style: italic;
    animation-name: notesSlideIn;
    animation-duration: .5s;
}

@keyframes notesSlideIn {
    from {
        top: -30px;
        opacity: 0%;
    }

    to {
        top: 0px;
        opacity: 100%;
    }
}