.list-btn {
    display: block;
    background-color: rgb(47, 99, 255);
    color: white;
    margin: 10px;
    border-radius: 8px;
    border-style: none;
    padding: 10px;
    width: 120px;
}

/* .list-cont {
    display: flex;
    flex-direction: column;

} */