/* LISTS HEADER */
.list-title {
    color: rgb(181, 181, 181);
    /* margin-left: 20px; */
    font-weight: bold;
    font-size: 30px;
}

.lists-header {
    /* position: fixed; */
    z-index: 1;
    padding: 30px 30px!important;
    /* top: 60px; */
    background-color: rgb(239, 239, 239);
    box-shadow: 0px 1px 8px rgb(220, 220, 220);

}

.back-button {
    width: 18px;
    margin-right: 20px;
}


/* NEW LIST FORM */

.new-list-btn {
    padding: 10px;
    border-style: none;
    border-radius: 50px;
    width: 65px;
    background-color: rgb(47, 99, 255);
    color: white;
    font-weight:bold;
    font-size: 30px;
}

.new-list-form-cont {
    position: relative;
    animation-duration: .5s;
    animation-name: newListFormSlideIn;
}

.new-list-form {
    z-index: 0;
    background-color: rgb(211, 245, 225);
    height: 100px;
    padding: 20px;
}

#new-list-input {
    border-style: none;
    height: 35px;
    border-radius: 15px;
    padding-left: 10px;
}

#category-menu {
    border-style: none;
    height: 35px;
    border-radius: 15px;
    padding: 0px 10px;
}

#new-list-btn {
    vertical-align: middle;
    border-style: none;
    border-radius: 25px;
    color: white;
    width: 40px;
    height: 40px;
    background-color: rgb(47, 99, 255);
}

/* LISTS */

.list-btn {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(115, 193, 249);
    display: block;
    background-color: rgb(47, 99, 255);
    color: white;
    margin: 10px;
    border-radius: 25px;
    /* border-style: none; */
    padding: 10px;
    width: 120px;
    box-shadow: 0px 4px 8px rgb(207, 207, 207);
}

.list-info {
    margin: 0px;
}

.date {
    font-style: italic;
    color: rgb(168, 168, 168);
}

/* .list-cont {
    display: flex;
    flex-direction: column;

} */

/* NEW LIST FORM SLIDE IN */
@keyframes newListFormSlideIn {
    from {
        top: -100px;
    }

    to {
        top: 0px;
    }
}