.list-title-cont {
    background-color: rgb(47, 99, 255);
    padding: 30px;
    position: relative;
    z-index: 2
}

.list-title {
    color: white;
    margin-left: 20px;
    font-weight: bold;
    font-size: 30px;
}

.list-cont {
    
}

#category-name {
    font-weight: 200;
    font-style: italic;
    color: grey;
}

#category-cont {
  
}

.category-items-cont {
    /* background-color: aliceblue; */
    padding: 0px 10px;
}

#category-item {
    margin-bottom: 30px;
    background-color: aliceblue;
}

.list-item {
    width: 40%;
    color: rgb(57, 57, 57);
    margin-bottom: 0px;
    
}

.item-qty {
    margin-bottom: 0px;
}

.item-details {
    justify-content: space-between;
    width: 50%;
    align-items: center;
}

.trash-can {
    width: 25px;
}

.edit-pencil {
    width: 30px;
}

.notes-btn{
    background-color: rgb(211, 219, 222);
    border-radius: 100px;
    border-style: none;
    padding: 5px;
    color: rgb(57, 57, 57);
    width: 70px;
}

.new-item-btn {
    padding: 10px;
    border-style: none;
    border-radius: 50px;
    width: 65px;
    background-color: white;
    color: rgb(47, 99, 255);
    font-weight:bold;
    font-size: 30px;
    
}

.new-item-form-cont {
    position: relative;
    animation-duration: .5s;
    animation-name: newItemFormSlideIn;
}

@keyframes newItemFormSlideIn {
    from {
        top: -100px;
    }

    to {
        top: 0px;
    }
}

.new-item-form {
    height: 100px;
    background-color: rgb(222, 231, 253);
}

#new-item-input {
    border-style: none;
    height: 35px;
    border-radius: 15px;
    padding-left: 10px;
}

#category-menu {
    border-style: none;
    height: 35px;
    border-radius: 15px;
    padding: 0px 10px;
}

#new-item-btn {
    vertical-align: middle;
    border-style: none;
    border-radius: 25px;
    color: white;
    width: 40px;
    height: 40px;
    background-color: rgb(47, 99, 255);
}

.items-container {
    height: 50px;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.notes-container {
    z-index: -1;
    position: relative;
    animation-duration: .5s;
    animation-name: notesSlideIn;
    align-items: center;
    color: rgb(98, 98, 98);
    font-style: italic;
    background-color: rgb(236, 236, 236);
    width: 100%;
    margin-bottom: 100px;
}

@keyframes notesSlideIn {
    from {
        top: -30px;
    }

    to {
        top: 0px;
    }
}